/* ########################### Default ########################### */
body {
 background-color: #c1d5ee;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(49, 49, 49);
}

h1 {
    color: black;
}

H2 {
    color: black;
    text-decoration: double;
}

H3 {
    color: rgb(4, 4, 119);
}


hr {
    border-color: black;
}

p {
    position: relative;
    padding: 0;
    margin: 0;
}

/* ##########------------ End Default ------------########## */

/* ########################### Header ########################### */
nav {
    width: auto;
    height: 200px;
    background-color: pink;
    position: relative;
}

.hero {
    width: 100%;
    height: 100%;
    background-image: url("../images/paulinaBack-1400.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% auto;
    border-bottom: 1px solid rgb(0, 0, 8);
    border-top: 1px solid rgb(0, 0, 8);
}

.hero>.logo {
    position: absolute;
    z-index: 99;
    width: 16%;
    top: 10px;
    left: 10px;
    height: 100px;
    /*   background-image: url("../images/aervela-300.png");
*/
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    font-size: smaller;
    color: white;
}

.social {
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    opacity: .6;
}

/* ------------ menu ------------ */
.menu {
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 100px;
}

.a-series {
    width: 100%;
    text-align: right;
    vertical-align: middle;
    color: white;
    height: 3rem;
    line-height: 3rem;
}

.a-series>a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
    text-shadow: gray 1px 0 10px;
}

.a-series>a:visited {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    text-shadow: gray 1px 0 10px;
}

.a-series>a:hover {
    color: black;
    text-decoration: none;
    text-shadow: yellow 2px 0 10px;
}

.current {
    color: orange;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    text-shadow: gray 2px 0 10px;
}

.hamburger {
    text-align: right;
    padding-right: 0;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-right: 0;

}

.ico-pic {
    width: 50px;
    height: 50px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #hamMenu {
    display: none;
}

.menuLinks {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: lightblue;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menuLinks:hover {
    color: yellow;
}

/* ------------ end menu ------------ */

.headfoot {
    position: absolute;
    bottom: 5px;
    right: 10%;
    width: 80%;
    height: 10%;
    min-height: 30px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

/* ##########------------ End Header ------------########## */


/* ########################### Body ########################### */
.container {
    width: 100%;
    height: auto;
    position: relative;
}

.body {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    margin-bottom: 200px;

}

.left-col {
    width: 12%;
    height: 80%;
    line-height: 5rem;
    float: left;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.lefty {
    width: 100%;
    height: 200px;
    margin: 5px;
    border-style: solid;
    border-color: rgb(3, 74, 168);
    border-width: 1px;
    border-radius: 8px;
    background-color: rgb(7, 29, 75);
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.caseThumb {
    width: 100%;

}

.right-col {
    width: 88%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.top {
    display: block;
    margin: 5px 20px;
}

.divisionator {
    width: 80%;
    align-items: center;
    height: 7px;
    border-width: 0;
    background: linear-gradient(to right, rgba(94, 214, 214, 0.671), rgb(16, 16, 187));
}

.main-frame {
    display: block;
    text-align: center;
    width: 100%;
    height: 80%;
}

.title {
    position: absolute;
    display: block;
    width: 90%;
    text-align: center;
    height: 20px;
    z-index: 4;
    margin-bottom: 10px;
}

.story {
    z-index: 99;
    margin-top: 120px;
    padding-top: 5px;
    width: 50%;
    height: auto;
    top: 12%;
    left: 20%;
    border: none;
    transform-origin: top right;
    rotate: 5deg;
}

.story-about {
    margin: 150px 0 10px 50px;
    padding: 12px;
    width: 60%;
    min-height: 100px;
    text-align: left;
    border: 1px solid lightgray;
    transform-origin: top right;
    rotate: 5deg;
    box-shadow: 8px 10px rgba(95, 95, 107, 0.781);

}

.summary {
    display: block;
    padding: 50px 12px 20px 8px;
    margin-top: 20px;

    width: 50%;
    height: auto;
    z-index: 1;
    border: none;
    background-color: #eba7138c;
    box-shadow: 8px 10px rgba(146, 132, 86, .3);
}

.summary>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.follow-up {
    position: absolute;
    padding: 12px 20px;
    margin-left: 20%;
    width: 60%;
    height: auto;
    z-index: 30;
    border: none;
    background-color: #82f078a2;
    rotate: -6deg;
    box-shadow: 8px 10px rgba(92, 124, 77, 0.6);
    text-align: left;
}

.follow-up>p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

/* ########################### Layouts ########################### */
.samplebox {
    margin: 20px 10px;
}

.itemFrame {
    display: inline-flex;
    width: 80%;
    clear: both;
    margin: 10px;
    background-color: rgb(253, 253, 247);
    box-shadow: rgba(71, 71, 71, 0.44) 0px 4px 6px 2px;
}

.iright {
    float: right;
}

.ileft {
    float: left;
}

.itemPic {
    width: 58%;
    height: auto;
    padding: 10px;
    margin: 10px;
    object-fit: contain;
    overflow: hidden;
    box-shadow: rgba(71, 71, 71, 0.44) 0px 4px 6px 2px;
}

.itemPic>img {
    height: 400px;
}

.itemPic-w>img {
    width: 100%;
    height: auto;
}


.itemPic img:hover {
    transform: scale(2);
}

.itemDesc {
    width: 48%;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.itemTitle {
    font-size: 1.2em;
    font-weight: 600;
    color: rgb(6, 6, 146);
    text-align: center;
    margin: 5px 5px 16px;
    clear: both;
}

.itemWords {
    text-align: left;
}

.itemWords>p {
    font-size: 1.1em;
    font-weight: 500;
    color: gray;
}

.itemWords>ul {
    font-size: 1em;
    font-weight: 500;
    color: gray;
}


/* ---------------------- End Body ---------------------- */

/* ########################### Footer ########################### */
.footer {
    display: inline-block;
    width: 100%;
    height: 20px;
    background-color: black;
    opacity: .8;
    color: lightgray;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer>p {
    color: white;
    margin: 0;
    padding: 0;
}

.footer>a {
    text-decoration: underline;
    font-style: italic;
    color: aqua;
}

.footer>a:visited {
    color: aqua;
}

.footer>a:hover {
    color: yellow;
}

.footer-hr {
    width: 12%;
    border-color: yellow;
}

/* ##########------------ End Footer ------------########## */

/* ###################### Contact Form ################### */
.contact>form {
    box-sizing: border-box;
    min-width: 400px;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsla(180, 69%, 85%);
    border: 4px solid hsl(192, 65%, 49%);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    box-shadow: 8px 10px rgba(95, 95, 107, 0.781);
    z-index: 99;

}

input {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: rgb(45, 124, 241);
    margin-bottom: 12px;
}

textarea {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(45, 124, 241);
    min-height: 4em;
}

.but-ton {
    background-color: #1476c7;
    width: 100%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px 2px -10px;
    cursor: pointer;
}

/* ##########------------ End Contact ------------########## */

/* ###################### About Me ################### */




/* ##########------------ End About ------------########## */


/* ###################### Professional Table ################### */
.divTable {
    display: block;
    width: 96%;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px;
    margin-left: 20px
}

.tblHead {
    display: block;
    column-span: all;
    width: auto;
    text-align: center;
    color: #333;
    padding: 0 10% 10px;
}

.tblRow {
    padding: 0 4px 3px 4px;
    display: block;
    height: auto;
    width: auto;
    clear: both;

}

.tblCol {
    margin: 0;
    padding: 10px;
    display: table-cell;
}

.tblCol>ul {
    padding: 0px 5px 3px 24px;
    margin: 0;
}

.tblCol>ul>li {
    padding-bottom: 5px;
}

.tblDivider {
    display: block;
    margin: 7px auto;
    height: 1px;
    width: 95%;
    clear: both;
    border-top: 1px solid rgb(212, 212, 212);
}

.tblFoot {
    padding: 5px;
}

/* ##########------------ End Pro Table ------------########## */

/* ###################### Modifiers ################### */
/* ---------- Width Items ---------- */
.W-20 {
    width: 20px;
}

.W-50 {
    width: 50px;
}

.W-100 {
    width: 100px;
}

.W-150 {
    width: 150px;
}

.W-200 {
    width: 200px;
}

.W-300 {
    width: 300px;
}

.W-400 {
    width: 400px;
}

.W-500 {
    width: 500px;
}

.W-600 {
    width: 600px;
}

.W-100p {
    width: 100%;
}

.W-75p {
    width: 75%;
}

.W-50p {
    width: 50%;
}

.W-25p {
    width: 25%;
}

.W-12p {
    width: 12.5%;
}

/* ---------- Background/Font Colors ---------- */
.bg-blk {
    background-color: black;
    color: #ccc;
}

.bg-wt {
    background-color: white;
    color: black;
}

.bg-lt {
    background-color: #ccc;
    color: black;
}

.bg-gray {
    background-color: rgb(165, 164, 164);
    color: white;
}

.bg-none {
    background-color: none;
}

.txt-blue {
    color: darkblue;
}

.txt-red {
    color: darkred;
}

.txt-green {
    color: darkgreen;
}

.txt-small {
    font-size: .9em;
}

.indent {
    padding: 0 0 0 7px;
    margin: 0;
}

/* ---------- Text Modifiers ---------- */
.titleLink {
    font-size: x-large;
    font-weight: 600;
    color: rgb(3, 102, 214);
    text-decoration: none;
    -webkit-text-stroke: .75px rgb(248, 141, 2);
}

.titleLink-xl {
    font-size: x-large;
    font-weight: 600;
    color: rgb(9, 61, 121);
    text-decoration: none;
    padding-bottom: 8px;
    padding-top: 8px;
}

.titleLink-sm {
    font-size: larger;
    font-weight: 500;
    color: rgb(3, 102, 214);
    text-decoration: none;
    -webkit-text-stroke: .5px rgb(248, 141, 2);
}

.titleLink-xsm {
    font-size: small;
    font-weight: 300;
    color: rgb(3, 102, 214);
    font-style: italic;
    padding-bottom: 6px;
}

.titleLink-cool {
    font-size: larger;
    font-weight: 500;
    color: rgb(3, 102, 214);
    text-decoration: none;

}

.tblTitle {
    font-size: 1.3em;
    font-weight: 500;
    text-align: left;
    margin-right: 10px;
    padding: 8px 2px 2px 8px;
}


.highlight-center {
    font-size: 1.3em;
    font-weight: 600;
    color: #1476c7;
    text-align: center;
    margin-right: 10px;
}

.tblDesc {
    font-size: medium;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    margin-right: 10px;
}

.tblInfo {
    font-size: medium;
    font-weight: 400;
    text-align: left;
    margin-right: 10px;
}

.jobPosition {
    font-size: 1.1em;
    font-weight: 600;
}

.jobPosition-indent {
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 20px;
}

.jobLocation {
    font-size: 1em;
    font-weight: 400;
    color: darkblue;
}


/* ##########------------ End Modifiers ------------########## */

/* ###################### Modifiers ################### */
.tooltip {
    position: relative;
    display: inline;
    border-bottom: 1px dotted blue;
    color: blue;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* ##########------------ End Tooltips ------------########## */

/* ########################### Media Selector ########################### */
/* ------------ Mobile View ------------ */
@media (max-width: 767px) {
    nav {
        height: 120px;
    }

    .hero>.logo {
        width: 30%;
        height: 80px;
    }

    .left-col {
        width: 24%;
    }

    .right-col {
        width: 76%;
    }

    .menu {
        padding-right: 8px;
        width: 50px;
    }

    .hamburger {
        display: block;
    }

    .a-series {
        display: none;
    }

    .story {
        margin-left: 60px;
    }

    .headfoot {
        bottom: 3px;
        font-size: 1.5em;
        font-weight: 700;
        -webkit-text-stroke: .25px black;
    }

    .footer {
        bottom: 0;
        padding-top: 5px;
        padding-bottom: 48px;
        font: size 10px;
    }

    .itemFrame {
        display: inline-flex;
        width: 80%;
        min-width: 200px;
    }
}

/* ------------ End Mobile ------------ */

/* ------------ Tablet View ------------ */
@media (min-width: 768px) and (max-width: 991px) {
    nav {
        height: 150px;
    }

    .menu {
        padding-right: 10px;
        width: 100px;
    }

    .a-series {
        display: block;
        height: 20%;
        margin-top: 2px;
    }

    .topnav {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .headfoot {
        bottom: 7px;
        font-size: 1.75em;
        font-weight: bold;
        -webkit-text-stroke: .5px black;
    }

    .story {
        margin-left: 240px;
    }

    .footer {
        bottom: 0;
        padding-top: 15px;
        padding-bottom: 48px;
        font: size 12px;
    }

    .itemFrame {
        display: inline-flex;
        width: 80%;
        min-width: 300px;
    }
}

/* ------------ End Tablet ------------ */

/* ------------ Desktop View ------------ */
@media (min-width: 992px) {
    nav {
        height: 200px;
    }

    .menu {
        padding-right: 15px;
        width: 100px;
    }

    .topnav {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .a-series {
        display: block;
        height: 30%;
        margin-top: 5px;
    }

    .headfoot {
        bottom: 12px;
        font-size: 2em;
        font-weight: bold;
        -webkit-text-stroke: .5px black;
    }

    .story {
        margin-left: 200px;
    }

    .footer {
        bottom: 0;
        padding-top: 18px;
        padding-bottom: 48px;
        font: size 12px;
    }

    .itemFrame {
        display: inline-flex;
        width: 80%;
        min-width: 400px;
    }
}


/* ------------ End Desktop ------------ */

/* ##########------------ End Media ------------########## */