.pic-container{
  display:block;
  margin:10px;
  width:98.5%;
  background-color: rgba(237, 243, 207, 0.61);
  padding-left: 10px;
  padding-top: 5px
}
/* ################ TABLE ################### */
.picrow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .piccolumn {
    flex: 25%;
    max-width: 24%;
    padding: 0 4px;
  }
  
  .piccolumn>img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  .piccolumn>img:hover {
    transform: scale(2);
  }


  /* ################ MEDIUM SCREEN ################### */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* ################ SMALL SCREEN ################### */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }




